/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    
}

body {
    line-height: 1.5;
}


/********************* SWATCHES *************************/
.swatch .swatch-value{
    background-color: black;
    width: 4rem; /* em- Root font size (16px) */
    height: 4rem;
    border-radius: 100%;
}