@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    margin-bottom: 0.5rem;
}
/********************* COLORS *************************/
.bg-primary{background-color: rgb(123, 75, 45);}
.bg-light { background-color:#ffffff;}
.bg-dark {background-color: rgb(54,48,41);}
.bg-muted {background-color: rgb(248,246,245);}

.text-primary{color: rgb(123, 75, 45);}
.text-light {color:#ffffff;}
.text-dark {color: rgb(54,48,41);}
.text-muted {color: rgb(248,246,245);}
/********************* SWATCHES ************************/
.swatches {
    display: flex;
    gap: 1rem;
}
.swatch .swatch-value{
    width: 4rem; /* em- Root font size (16px) */
    height: 4rem;
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54,48,41,0.2);
}

.swatch .swatch-names {
    text-align: center;
}